<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
        <%= modal_title %>
      </h4>
    </div>
    <div class="modal-body">
      <%= form_for list, remote: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>    
        <%= f.text_field :title, placeholder: "List title here..", autofocus: true, class: 'form-control' %>
        <div class="text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>