<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
        <%= modal_title %>
      </h4>
    </div>
    <%= form_for([task.list, task], remote: true) do |f| %>
      <div class="modal-body">
        <%= render 'shared/error_messages', object: f.object %>
        <div class="input-group">
          <span class="input-group-addon">
              <%= f.check_box :completed_at, { class: 'group-checkbox', checked: task.completed? }, Time.zone.now, "" %>
          </span>
          <%= f.text_field :content, placeholder: "Start typing here..", autofocus: true, class: 'form-control' %>
        </div>
        <br/>
        <!-- DatTime Picker -->
        <div class="form-group">
          <%= f.label :deadline_at %>
          <div class='input-group date' id='datetimepicker1'>
            <%= f.text_field :deadline_at, placeholder: "Set deadline here..", class: "form-control" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                  format: "YYYY-MM-DD h:mm A"
                });
            });
        </script>
        <!-- End Datetime Picker -->
        <br/>
        <h4 class="text-center">
          Comments
        </h4>
        <!-- <#%= form_for([task.list, task], remote: true) do |f| %>
          <#%= render 'shared/error_messages', object: f.object %>
          <p class="input-group">
            <#%= f.text_field :content, placeholder: "Start typing here to create a task..", class: 'form-control' %>
            <span class="input-group-btn">
              <#%= button_tag "Add Task", type: "submit", class: 'btn btn-primary' %>
            </span>
          </p>
        <#% end %> -->
        <div class="comment">
          <span class="comment-author">ShvVolodymyr</span> <span class="comment-time">a few seconds ago</span>
          <div class="comment-text">first comment</div>
        </div>
        <div class="comment">
          <span class="comment-author">ShvVolodymyr</span> <span class="comment-time">a few seconds ago</span>
          <div class="comment-text">another comment</div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <%= f.submit "Close", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>