<% if task.completed? %>
	<tr id="todo-item-<%= task.id %>">
		<td class="col-md-1 text-center">
			<%= link_to complete_list_task_path(task.list, task), remote: true, method: :patch do %>
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
			<% end %>
		</td>
		<td class="col-md-9">
			<s><%= task.content %></s>
		</td>
		<td class="col-md-2 text-center hoverable">
			<%= link_to edit_list_task_path(task.list, task), remote: true, 'data-toggle': "modal", 'data-target': '#modal-window' do %>
				<span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
			<% end %> | 
			<%= link_to list_task_path(task.list, task), remote: true, method: :delete do %>
				<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
			<% end %>
		</td>
	</tr>
<% else %>
	<tr id="todo-item-<%= task.id %>">
		<td class="col-md-1 text-center">
			<%= link_to complete_list_task_path(task.list, task), remote: true, method: :patch do %>
				<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
			<% end %>
		</td>
		<td class="col-md-9">
			<%= task.content %>
		</td>
		<td class="col-md-2 text-center hoverable">
			<%= link_to edit_list_task_path(task.list, task), remote: true, 'data-toggle': "modal", 'data-target': '#modal-window' do %>
				<span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
			<% end %> | 
			<%= link_to list_task_path(task.list, task), remote: true, method: :delete do %>
				<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
			<% end %>
		</td>
	</tr>	
<% end %>