<div id="project-<%= project.id %>" class="panel panel-primary">
  <div class="panel-heading" data-toggle="collapse" data-target="#project-<%= project.id %>-todos">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 
          <%= project.title %>  
        </div>         
        <div class="pull-right">
          <%= link_to edit_project_path(project), remote: true, 'data-toggle': "modal", 'data-target': '#project-modal' do %>
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> |
          <% end %>
          <%= link_to project, method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>                
        </div> 
      </div>        
    </div>
  </div>
  <div id="project-<%= project.id %>-todos" class="panel-collapse collapse in">
    <div class="panel-body"></div>
    <table class="table table-hover">
      <tbody>
        <tr class="text-center">
          <td>
            <h4><small>No TODOS for now.</small> </h4>         
          </td>
        </tr>
          <!-- <tr>
            <td class="col-md-1"><%= project.user.name %></td>
            <td class="col-md-4"><%= project.title %></td>
            <td class="col-md-1"><%= link_to 'Show', project %></td>
          </tr>
          <tr>
            <td class="col-md-1"><%= project.user.name %></td>
            <td class="col-md-4"><%= project.title %></td>
            <td class="col-md-1"><%= link_to 'Show', project %></td>
          </tr> -->
        </tbody>
    </table>
  </div>        
</div>