<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 
        <%= project.title %>
        <div class="pull-right">
          <%= link_to edit_project_path(project) do %>
            <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> |
          <% end %>
          <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> |
          <% end %>                
          <span data-toggle="collapse" data-target="#project-<%= project.id %>">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </span> 
        </div> 
      </div>        
    </div>
  </div>
  <div id="project-<%= project.id %>" class="panel-collapse collapse">
    <table class="table table-hover">
      <tbody>
          <tr>
            <td class="col-md-1"><%= project.user.name %></td>
            <td class="col-md-4"><%= project.title %></td>
            <td class="col-md-1"><%= link_to 'Show', project %></td>
          </tr>
          <tr>
            <td class="col-md-1"><%= project.user.name %></td>
            <td class="col-md-4"><%= project.title %></td>
            <td class="col-md-1"><%= link_to 'Show', project %></td>
          </tr>
        </tbody>
    </table>
  </div>        
</div>